@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0; }

.bg-deep-blue {
  background-color: #022F40; }

.bg-lite {
  background-color: #d5ecfc; }

.bg-gradient-deep {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.658), rgba(252, 252, 252, 0.03)); }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  background: white; }
  ::-webkit-scrollbar-track:hover {
    border: 1px solid #b8b8b8;
    border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.2);
  border-radius: 10px; }

::-webkit-scrollbar-thumb:vertical {
  background-color: #254E70; }

::-webkit-scrollbar-thumb:hover {
  background: #c75a6e; }

html {
  font-size: 62.5%;
  /** RESET para Rems - 62.5% = 10px de 16px **/
  scroll-behavior: smooth; }

body {
  background-image: url(../img/404-min.svg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  overflow: auto; }
  body section {
    min-height: 80vh;
    height: fit-content;
    margin: 5rem 0;
    padding: 2rem 5rem;
    max-width: 90%;
    border-radius: 10px;
    transition: all ease-in .6s; }
  body main {
    margin-top: 7rem;
    min-height: fit-content;
    transition: all ease-in .6s; }
  body img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: all ease-in .4s; }
  body h1 {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: #41a2c2;
    font-weight: 600; }
  body h2 {
    font-size: 5rem;
    color: #fff;
    font-weight: 600; }
  body h3 {
    font-size: 3.5rem;
    color: #c75a6e;
    margin: 0;
    font-weight: 600; }
  body h4 {
    font-size: 2.6rem;
    color: #c75a6e;
    font-weight: 600; }
  body h5 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600; }
  body p {
    font-size: 2rem;
    font-weight: 500; }
  body .button, body .btn-rounded {
    background-color: #022F40;
    border: 2px solid #41a2c2;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
    transition: all ease-in-out .3s; }
    body .button:hover, body .btn-rounded:hover {
      cursor: pointer;
      color: #fff;
      background-color: #c75a6e;
      border-color: #c75a6e;
      transform: scale(1.1); }
  body .btn-rounded {
    border-radius: 5px; }
  body .navbar img {
    max-width: 60px; }
  body #hero {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 76px; }
    body #hero p {
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
      color: #022F40; }
    body #hero h1 {
      font-size: 8rem;
      font-weight: 600;
      text-align: center;
      color: #fff;
      text-transform: uppercase; }
  body #tcc {
    margin-top: 10rem;
    padding: 4rem;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around; }
  body .parallax {
    background-color: transparent;
    background-image: linear-gradient(rgba(172, 172, 172, 0.5), rgba(141, 141, 141, 0.5)), url(../img/hero-min.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed; }
  body #iframe {
    max-width: 94%;
    display: flex;
    align-items: center;
    justify-content: center; }
  body #shop {
    padding: 0 6rem; }
    body #shop a {
      text-decoration: none; }
      body #shop a figure img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        width: auto;
        max-height: 220px;
        border-radius: 5px;
        transition: all ease-in-out .2s; }
        body #shop a figure img:hover {
          cursor: pointer;
          transform: scale(1.1); }
      body #shop a figure figcaption {
        font-size: 1.5rem;
        color: #fff;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
        transition: all ease-in-out .2s; }
      body #shop a p.price {
        color: #fff;
        padding-bottom: 10px;
        text-align: center;
        font-weight: 700;
        margin: 0;
        transition: all ease-in-out .2s; }
      body #shop a:hover p, body #shop a:hover figcaption {
        cursor: pointer;
        color: #c75a6e;
        font-weight: 900; }

#especialidades {
  margin-top: 10rem; }

.carousel {
  width: 90%; }

#covid {
  margin-top: 10rem;
  padding: 4rem;
  min-height: 100vh;
  height: 100%; }

#sobre-mi {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #sobre-mi a {
    text-decoration: none;
    color: #c75a6e;
    font-weight: 600; }
    #sobre-mi a:hover {
      text-decoration: underline;
      color: #fff; }

#contacto h2 {
  color: #41a2c2; }

#error-page {
  height: 100vh; }
  #error-page .msg {
    border-radius: 10px;
    padding: 15rem;
    width: 70%; }
    #error-page .msg .text-wrapper h2 {
      font-size: 5rem;
      text-align: center;
      color: #c75a6e; }
    #error-page .msg .text-wrapper p {
      text-align: center;
      font-weight: 700; }

@media screen and (max-width: 768px) {
  body #hero h1 {
    font-size: 5rem; }
  body #hero p {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center; }
  body #tcc h1 {
    font-size: 3.5rem; }
  body #tcc h5 {
    font-size: 1.5rem; }
  body #tcc h4 {
    font-size: 2.5rem; }
  body #covid img, body #sobre-mi img {
    width: 90%; } }

@media screen and (max-width: 576px) {
  html,
  body {
    overflow-y: auto; }
  body .button, body .btn-rounded {
    min-width: 100% !important;
    font-size: 1.5rem;
    padding: 5px 15px; }
  body #hero h1 {
    font-size: 3.5rem; }
  body #hero p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center; }
  body #especialidades h1, body #sobre-mi h1, body #covid h1 {
    font-size: 2.5rem; }
  body #especialidades h3, body #especialidades h4, body #sobre-mi h3, body #sobre-mi h4, body #covid h3, body #covid h4 {
    font-size: 2.5rem;
    text-align: center; }
  body #especialidades p, body #especialidades span, body #sobre-mi p, body #sobre-mi span, body #covid p, body #covid span {
    font-size: 1.5rem;
    text-align: center; }
  body .carousel {
    min-width: 100%;
    margin: 0 !important; }
    body .carousel h2 {
      font-size: 2.5rem; }
  body #tcc h1 {
    font-size: 2.5rem; }
  body #tcc h4 {
    font-size: 1.5rem; }
  body #contacto article h2 {
    font-size: 3.5rem;
    font-weight: 700; }
  body #contacto article p {
    font-size: 1.5rem;
    font-weight: 700; } }

footer {
  position: relative;
  bottom: 0;
  max-height: 150px;
  padding: 2rem;
  z-index: 6; }
  footer h5 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    color: #022F40; }
  footer span {
    color: #41a2c2; }
  footer .redes {
    height: fit-content;
    display: flex;
    justify-items: flex-start;
    align-items: flex-start; }
    footer .redes img {
      margin-left: 15px;
      box-shadow: rgba(59, 59, 59, 0.35) 0px 5px 15px;
      transition: all ease-in-out .3s;
      border-radius: 100%; }
      footer .redes img:hover {
        transform: scale(1.1);
        opacity: 0.8; }
    footer .redes .icon {
      max-width: 4rem; }

@media screen and (max-width: 576px) {
  footer {
    flex-direction: column;
    align-items: flex-start; }
    footer h5 {
      font-size: 1.5rem; }
    footer nav {
      flex-direction: column; }
      footer nav .redes .icon {
        max-width: 3rem; } }
