// Variables

// Colours

$mainColor: #fff;
$secondaryColor: #022F40;
$hightlightColor:#41a2c2;
$fontColor: #c75a6e;

// Palette

$palette: (
	'color1': #d5ecfc,
	'color2': #38AECC,
	'color3': #0090C1,
	'color4': #254E70,
	'color5': #022F40,
);

.bg-deep-blue {
	background-color: map-get($map: $palette, $key: 'color5');
}

.bg-lite {
	background-color: map-get($map: $palette, $key: 'color1');
	
}

.bg-gradient-deep {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.425), rgba(252, 252, 252, 0));
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 1);

	&:hover {
		border: 1px solid rgb(184, 184, 184);
		border-radius: 10px;
		// background: rgb(214, 214, 214);
	}
}
// ::-webkit-scrollbar-track-piece {
// 	// background-color: red;
// }

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(51, 51, 51, 0.2);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #254E70;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $fontColor;
}


