// Globales

html {
	font-size: 62.5%;
	/** RESET para Rems - 62.5% = 10px de 16px **/
	scroll-behavior: smooth;
}

body {
	background-image: url(../img/404-min.svg);
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	overflow: auto;

	section {
		min-height: 80vh;
		height: fit-content;
		margin: 5rem 0;
		padding:  2rem 5rem;
		max-width: 90%;
		border-radius: $mainBorderRadius;
		transition: all ease-in .6s;
	}

	main {
		margin-top: 7rem;
		min-height: fit-content;
		transition: all ease-in .6s;
	}
	
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		border-radius: $mainBorderRadius;
		transition: all ease-in .4s;
	}
	
	h1 {
		font-size: 5rem;
		text-align: center;
		text-transform: uppercase;
		color: $hightlightColor;
		font-weight: 600;
	}
	
	h2 {
		font-size: $textXl;
		color: $mainColor;
		font-weight: 600;
	}
	
	h3 {
		font-size: $textLg;
		color: $fontColor;
		margin: 0;
		font-weight: 600;
	}
	
	h4 {
		font-size: 2.6rem;
		color: $fontColor;
		font-weight: 600;
	}
	
	h5 {
		font-size: 2rem;
		color: $mainColor;
		font-weight: 600;
	}

	p {
		font-size: 2rem;
		font-weight: 500;
	}

	// Buttons

	.button {
		background-color: $secondaryColor;
		border: 2px solid $hightlightColor;
		color: $mainColor;	
		font-weight: 700;
		text-decoration: none;
		font-size: 1.8rem;
		padding: 1rem 3rem;
		display: inline-block;
		text-align: center;
		transition: all ease-in-out .3s;
		&:hover {
			cursor: pointer;
			color: $mainColor;
			background-color: $fontColor;
			border-color: $fontColor;
			transform: scale(1.1);
		}
	}

	// Extend for buttons

	.btn-rounded {
		@extend .button;
		border-radius: $secBorderRadius;
	}

	// NavBar

.navbar {
	img {
		max-width: 60px;
	}
}

	// hero
	#hero {
		// background-image: url(/img/hero-min.png);
		height: 100vh;
		width: 100%;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
		margin-top: 76px;

		p{
			font-size: $textMd;
			font-weight: 600;
			text-align: center;
			color: $secondaryColor;
		}
	
		h1{
			font-size: 8rem;
			font-weight: 600;
			text-align: center;
			color: $mainColor;
			text-transform: uppercase;
		}
	}

	//TCC

	#tcc{
		margin-top: 10rem;
		padding: 4rem;
		display: flex;
		width: 100vw;
		flex-direction: column;
		justify-content: space-around;

		h4 {
			color: $mainColor;
		}

	}
	
	.parallax {
		background-color: transparent;
		background-image: linear-gradient(rgba(172, 172, 172, 0.5), rgba(141, 141, 141, 0.5)), url(../img/hero-min.png);
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}

	#iframe {
		max-width: 94%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// Shop
	
	#shop {
		padding: 0 6rem;
		a{
			text-decoration: none;
			figure {
				img{
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: 100%;
					width: auto;
					max-height: 220px;
					border-radius: $secBorderRadius;
					transition: all ease-in-out .2s;
					&:hover{
						cursor: pointer;
						transform: scale(1.1);
					}
				}
				figcaption{
					font-size: $textSm;
					color: $mainColor;
					padding:0;
					text-align: center;
					margin-top: 1rem;
					transition: all ease-in-out .2s;
				}
			}
			p.price{
				color: $mainColor;
				padding-bottom: 10px;
				text-align: center;
				font-weight: 700;
				margin: 0;
				transition: all ease-in-out .2s;
			}
			&:hover{
				p, figcaption{
					cursor: pointer;
					color: $fontColor;
					font-weight: 900;
				}
			}
		}
	}
}

#especialidades {
	margin-top: 10rem;
}

.carousel {
	width: 90%;
	img {
		width: 100%;
	}
}
// Covid 

#covid {
	margin-top: 10rem;
	padding: 4rem;
	min-height: 100vh;
	height: 100%;
}

// Sobre Mi

#sobre-mi {
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	a {
		text-decoration: none;
		color: $fontColor;
		font-weight: 600;
		&:hover {
			text-decoration: underline;
			color: $mainColor;
		}
	}
}

// Contacto

#contacto {
	h2 {
		color: $hightlightColor;
	}
}

// 404

#error-page {
	height: 100vh;
	.msg{
		border-radius: $mainBorderRadius;
		padding: 15rem;
		width: 70%;
		.text-wrapper {
			h2 {
				font-size: $textXl;
				text-align: center;
				color: $fontColor;
			}
			p {
				text-align: center;
				font-weight: 700;
			}
		}
	}
}

// Medium 

@include mediumScreen {

	body {
		#hero {
			h1 {
				font-size: $textXl;
			}
			p{
				font-size: $textMd;
				font-weight: 600;
				text-align: center;
			}
		}

		#tcc {
			h1 {
				font-size: $textLg;
			}

			h4 {
				font-size: $textMd;
			}
		}
	
		#covid, #sobre-mi {
			img {
				width: 90%;
			}
		}
	}
}

// Mobile
@include mobileScreen {	

	html,
	body {
		overflow-y: auto;
	}

	body {
		.button {
			min-width: 100% !important;
			font-size: $textSm;
			padding: 5px 15px;
		}

		#hero {
			h1 {
				font-size: $textLg;
			}
			p{
				font-size: 1.8rem;
				font-weight: 600;
				text-align: center;
			}
		}

		#especialidades, #sobre-mi, #covid {
			h1 {
				font-size: $textMd;
			}

			h3, h4{
				font-size: $textMd;
				text-align: center;
			}

			p, span {
				font-size: $textSm;
				text-align: center;
			}
		}

		.carousel{
			min-width: 100%;
			margin: 0 !important;
			h2 {
				font-size: $textMd;
			}

			img {
				border-radius: 0;
			}
		}

		#tcc {
			h1 {
				font-size: $textMd;
			}

			h4, p {
				font-size: 1.8rem;
			}

		}

		#contacto {
			article {
				h2 {
					font-size: $textLg;
					font-weight: 700;
				}
				p {
					font-size: $textSm;
					font-weight: 700;
				}
			}
		}
	}
}
