// Footer 

footer {
	position: relative;
	bottom: 0;
	max-height: 150px;
	padding: 2rem;
	z-index: 6;

	h5 {
		font-size: $textSm;
		margin: 0;
		text-align: center;
		color: $secondaryColor;
	}
	
	span {
		color: $hightlightColor;
	}
	
	.redes{
		height: fit-content;
		display: flex;
		justify-items: flex-start;
		align-items: flex-start;

		img {
			margin-left: 15px;
			box-shadow: rgba(59, 59, 59, 0.35) 0px 5px 15px;
			transition: all ease-in-out .3s;
			border-radius: 100%;
			&:hover {
				transform: scale(1.1);
				opacity: 0.8;
			}
		}
		
		.icon {
			max-width: 4rem;
		}
	}
}

// Mobile
@include mobileScreen {
	footer {
		flex-direction: column;
		align-items: flex-start;
		h5 {
			font-size: $textSm;
		}

		nav{
			flex-direction: column;
			.redes .icon {
				max-width: 3rem;
			}
		}
	}
}